[user]
  name = Andrei Constantinescu
  email = andrei@constantinescu.io
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIJ5W959WeWDsNZVNdwL2olZ8WlTZuIDpXbpLtcgneAL
[core]
  pager = delta
  excludesfile = /Users/andrei/.gitignore.global
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[gpg]
  format = ssh
[commit]
  gpgsign = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  line-numbers = true
  hyperlinks = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
