"*":
  "atom-beautify":
    html:
      indent_size: 2
      preserve_newlines: false
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-outline-view":
      nameOnly: true
    "atom-ide-terminal":
      fontFamily: "\"Fira Code\""
      lineHeight: 1.2
      rendererType: "canvas"
    use:
      "atom-ide-code-actions": "never"
      "atom-ide-console": "always"
      "atom-ide-datatip": "never"
      "atom-ide-debugger": "always"
      "atom-ide-diagnostics": "never"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-outline-view": "always"
      "atom-ide-terminal": "always"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "teletype"
      "about"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "\"Fira Code\""
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "2fbd6d40-6213-4a2a-8db3-679b580a81bb"
  "file-icons":
    coloured: false
    onChanges: true
  "fuzzy-finder":
    searchAllPanes: true
  "git-time-metric":
    GTMLocation: "/usr/local/bin"
  "ide-typescript":
    diagnosticsEnabled: false
    ignoreFlow: false
  linter: {}
  "linter-ui-default":
    showPanel: true
  mprettier:
    formatOnSave:
      enable: true
    prettierOptions:
      bracketSpacing: false
      semi: false
      singleQuote: true
    useEslint: true
  tabs:
    enableVcsColoring: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
    showStatusBarIcon: false
  welcome:
    showOnStartup: false
