<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.gettingstarted.keywords</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95F7F8BE-8D7B-4B0E-B8A7-7F6A40930D3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Janis Puris</string>
	<key>description</key>
	<string>Create "hide my email" entry with alias and put into clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hide My Email</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hide</string>
				<key>subtext</key>
				<string>Create an iCloud email</string>
				<key>text</key>
				<string>Hide my email</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>0</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Hide my Email</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>95F7F8BE-8D7B-4B0E-B8A7-7F6A40930D3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Will
- Run Apple Shortcut "Hide my email" with text parameter input

Requirements
- The mentioned apple shortcut exists</string>
	<key>uidata</key>
	<dict>
		<key>3E554F3A-9D95-4D8B-9797-FDE6FDA14DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>95F7F8BE-8D7B-4B0E-B8A7-7F6A40930D3C</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
