<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>9AE9CA83-A7C6-440A-A18A-7747857A43C5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kagi</string>
			<key>text</key>
			<string>Kagi search</string>
			<key>url</key>
			<string>https://kagi.com/search?q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
