<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>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</string>
	<key>history_length</key>
	<string>5</string>
</dict>
</plist>
